[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
djoser = "*"
django-rest-swagger = "*"
python-dotenv = "*"
gunicorn = "*"
mysqlclient = "*"
pillow = "*"
requests = "*"
django-extra-fields = "*"
django-filter = "*"
django-cleanup = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.7"
