[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
djoser = "*"
django-rest-swagger = "*"
python-dotenv = "*"
gunicorn = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.7"
